@tailwind base;
@tailwind components;
@tailwind utilities;

/* Monument Grotesk Font Faces */
@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-Thin-Trial.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-ThinItalic-Trial.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-Light-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-LightItalic-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-RegularItalic-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-MediumItalic-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-BoldItalic-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-Heavy-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-HeavyItalic-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-Black-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-BlackItalic-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-Ultra-Trial.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/ABCMonumentGrotesk-UltraItalic-Trial.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  body {
    font-family: 'Monument Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
  }
}